*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #DC6BAD;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width:40vh;

}
form{
    margin: 2rem 0 1rem 0;
}

form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border:1px solid #8C7AA9;
    font-size: 1rem;
    height:3rem ;
    padding-left:0.5 rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2rem;
    padding: 0.25rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 2rem;
    
    
}

.select-container{
    display: flex;
    justify-content: center;
    width: 6rem;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid #8C7AA9;
    
}
.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: #7192BE;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}
